<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="styles/index.css" />
        <title>Title</title>
    </head>
    <body>

        <header>
            <h1>Header</h1>
        </header>
		<p>
		This is a paragraph! 
		</p>
		<ul>
		<li>one thing here</li>
		<li>two things here</li>
		</ul>
		
		<button><a href="/glob">Big Red Button</a></button>
		<br>
		<form action="/action_page.php">
  		<label for="fname">First name:</label><br>
  		<input type="text" id="fname" name="fname" value="John"><br>
  		<label for="lname">Last name:</label><br>
  		<input type="text" id="lname" name="lname" value="Doe"><br><br>
  		<input type="submit" value="Submit">
		</form>
		
        <script src="Index.js"></script>
    </body>
</html>